<h2 style = "color:Brown"> Relational Operators</h2>

- compares the values on either side of the opeartor and returns and boolean value as True or False.

#### equal to operator

In [1]:
10 == 10

True

<h3 style = "color:Red">Alert!!!</h3>

##### = is an assignment operator, to assign value of an expression on right to a variable on left.

In [1]:
10 == 5

False

#### not equal to operator

In [2]:
10 != 5

True

#### greater than operator

In [3]:
10 > 5

True

#### less than operator

In [4]:
10 < 5

False

#### greater than equal to operator

In [6]:
10 <= 5

False

#### less than equal to operator

In [7]:
10 >= 5

True

<h2 style = "color:Brown">Decision Making

#### Write a program to check value in variable x is even or odd

In [6]:
x = 10

if x % 2 == 0:
    print(x, "is even number")
else:
    print(x, "is odd number")

10 is even number

#### Write a program to accept age of visitor and allows him to PM's party only if he is above 60 years or below 18 years of age

In [8]:
x = int(input("Enter your age : "))

if x <= 18 or x >= 60 :
    print("Welcome to party")
else:
    print("Sorry!! you do not fit in PM's age criteria")

Enter your age : 20
Sorry!! you do not fit in PM's age criteria

#### Write a program which offers various discounts on purchase bills

In [10]:
shoppinng_total = 2700

if shoppinng_total >= 5000:
    print("You won a discount voucher of flat 1000 on next purchase")
elif shoppinng_total >= 2500:
    print("You won a discount voucher of flat 500 on next purchase")
elif shoppinng_total >= 1000:
    print("You won a discount voucher of flat 100 on next purchase")    
else:
    print("OOPS!! no discount for you!!!")

You won a discount voucher of flat 500 on next purchase

#### Write a program to accepts three numbers from user and print the largest of three numbers

In [12]:
world_cups = {2019 : ['England', 'New-Zeland'], 2015:["Australia", "New Zeland"], 2011 : ["India", "Sri Lanka"], 2007: ["Australia", "Sri Lanka"], 2003: ["Australia", "India"]}

year = int(input("Enter year to check India made it to Finals in 20th century : "))

if year in world_cups :
    if "India" in world_cups[year] :
        print("India made it to Finals")
    else:
        print("India could not make it to Finals")
        
else:
    print("World cup wasnt played in", year)

Enter year to check India made it to Finals in 20th century : 2019
India could not make it to Finals

In [14]:
#qa:1
X = 12

if (X>10 & X<15):
    print('YES')
else:
    print('No')

YES

In [18]:
#qa:2
a=10
b=16
c=20
if(a>b and a>c):
    print("a")
elif(b>a and b>c):
    print("b")
else:
     print("c")

c

In [17]:
a>b,c

(False, 20)

In [22]:
#qa: 3
#Given the code below, the output obtained in several runs is 'C' 'A' 'D' 'B'.
score =int(input("score : "))
if score >= 90:
   print('A')
elif score >=80:
   print('B')
elif score >= 70:
   print('C')
elif score >= 60:
   print('D')
else:
   print('F')

score : 88
B

In [23]:
if (10 < 0) and (0 < -10):
    print("A")
elif (10 > 0) or False:
    print("B")
else:
    print("C")

B

In [24]:
if True or True:
    if False and True or False:
        print('A')
    elif False and False or True and True:
        print('B')
    else:
        print('C')
else:
    print('D')

B

<h2 style = "color:Brown">Iteration

In [25]:
# iterate over list of integers

l = [1,3,4,2,5,6]
for i in l : 
    print(i)

1
3
4
2
5
6

In [30]:
# iterate over a string

string = "Himachal Pradesh"
for ch in string:
    print(ch,end = ":")

H:i:m:a:c:h:a:l: :P:r:a:d:e:s:h:

In [ ]:
# iterate over a string - modify print using end

string = "Himachal Pradesh"
for ch in string:
    print(ch, end = ":") # default value of end = "\n"

In [32]:
# iterating over a dictionary

students_data = {1:['Sam', 24] , 2:['Sharma',25], 3:['Saina', 26], 4:['Saif',24], 5:['Varun',27]}

for key, val in students_data.items():
    print(key, val)

1 ['Sam', 24]
2 ['Sharma', 25]
3 ['Saina', 26]
4 ['Saif', 24]
5 ['Varun', 27]

In [33]:
# iterate over keys of a dictionary
for key in students_data.keys():
    print(key)

1
2
3
4
5

In [47]:
# Generate range of values.
a=range(1, 101) # note : end value not included
b=list(a)
range(100)

range(0, 100)

In [38]:
# Iterate over range of values

for i in range(1, 101):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [22]:
# different variations in range

range(1, 100, 2) # gives numbers from 1 to 100 with a step count of 2
range(100, 0, -1) # gives a reversed sequence of numbers from 100 to 1

range(100, 0, -1)

In [46]:
# prime number from 1 to 20
N=20

for n in range(1,N) :
    flag = True
    for i in range(2,n):
        if(n%i == 0):
            flag = False
    
    if(flag and n > 1):
        print(n)

2
3
5
7
11
13
17
19

In [49]:
#qa :for loop
L1 = [10,20,30,24,18]
L2 = [8,14,15,20,10]
L3=[]
for  i in range(len(L2)):
    L3.append(L2[i]-L1[i])
L3

[-2, -6, -15, -4, -8]

In [ ]:
#sp : Iterations
input_list = ['VARMA', 'raj', 'Gupta', 'SaNdeeP']

# Type your code here
outputList =[]
for i in range(len(input_list)):
    string = input_list[i].lower()
    capitalizedStr = string.capitalize()
    outputList.append(capitalizedStr)

print(outputList)

In [50]:
ch = ""
while ch != "quit":
    ch = input()
    print(ch)

a
a
b
b
quit
quit

In [51]:
while True:
    ch = input()
    if ch == "quit":
        break
    print(ch)

1
1


2
2
3
3
quite
quite
quit

In [3]:
x = 0
while x <=50 :
    x += 3
    if x % 5 == 0 :
        continue   
    print(x, end = " ")

3 6 9 12 18 21 24 27 33 36 39 42 48 51

In [57]:
d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}
for i in d:
    print(i)

0
1
2

<h2 style = "color:Brown">Comprehensions

In [22]:
l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

l2 = []

for i in l1 :
    l2.append(len(i))
    
l2

[11, 5, 4, 6, 14]

#### The Functional Approach

In [1]:
# Example on list comprehension

l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

# Create a list consisting of length of each element from the above list

l2 = [len(i) for i in l1]

print(l2)

[11, 5, 4, 6, 14]

In [4]:
# iterating over l1 and l2 simultaneaously
t =list(zip(l1,l2)) 

print(t)
for i,j in zip(l1,l2):
    print(i, " - ", j)

[('automobiles', 11), ('Honda', 5), ('Benz', 4), ('Suzuki', 6), ('Morris Garages', 14)]
automobiles  -  11
Honda  -  5
Benz  -  4
Suzuki  -  6
Morris Garages  -  14

In [ ]:
#sp : List Comprehension
n = int(input("Enter N : "))
l = [i**2 for i in range(1,n+1)]
print(l)

#### Dictionary comprehension

In [5]:
# Example on dictionary comprehension

l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

# Create a dictionary consisting of element and length of each element from the above list

d = {i : len(i) for i in l1}

print(d)

{'automobiles': 11, 'Honda': 5, 'Benz': 4, 'Suzuki': 6, 'Morris Garages': 14}

#### Set Comprehensions

#### Ex . Write a program which takes a word as input from user and returns vowels from the word

In [6]:
word = input("Enter a word : ")
vowels = {i for i in word if i in "aeiou"}
vowels

Enter a word : aeroplane

{'a', 'e', 'o'}

In [ ]:
#sp: List Comprehensions
input_list = ast.literal_eval(input_str)
vowel= 'a','e','i','o','u'
list_vowel =[word for word in input_list if word.startswith(vowel)]

print(list_vowel)

In [7]:
#sp: Dictionary Comprehension
input_list = list(range(1,100))
output_dict = {}
for val in input_list:
    if val % 3 == 0:
        output_dict[val] = val**3
output_dict

{3: 27,
 6: 216,
 9: 729,
 12: 1728,
 15: 3375,
 18: 5832,
 21: 9261,
 24: 13824,
 27: 19683,
 30: 27000,
 33: 35937,
 36: 46656,
 39: 59319,
 42: 74088,
 45: 91125,
 48: 110592,
 51: 132651,
 54: 157464,
 57: 185193,
 60: 216000,
 63: 250047,
 66: 287496,
 69: 328509,
 72: 373248,
 75: 421875,
 78: 474552,
 81: 531441,
 84: 592704,
 87: 658503,
 90: 729000,
 93: 804357,
 96: 884736,
 99: 970299}

In [9]:
output_dict= {val:val**3 for val in input_list if val%3==0}
print(output_dict)

{3: 27, 6: 216, 9: 729, 12: 1728, 15: 3375, 18: 5832, 21: 9261, 24: 13824, 27: 19683, 30: 27000, 33: 35937, 36: 46656, 39: 59319, 42: 74088, 45: 91125, 48: 110592, 51: 132651, 54: 157464, 57: 185193, 60: 216000, 63: 250047, 66: 287496, 69: 328509, 72: 373248, 75: 421875, 78: 474552, 81: 531441, 84: 592704, 87: 658503, 90: 729000, 93: 804357, 96: 884736, 99: 970299}

In [10]:
print([i+j for i in "abc" for j in "def"])

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [13]:
d = {x.upper(): x*3 for x in 'acbd'}
print(d)

{'A': 'aaa', 'C': 'ccc', 'B': 'bbb', 'D': 'ddd'}

<h2 style = "color:Brown">Functions</h2>

#### Ex. Write a function which takes a value as a parameter and returns its factorial

In [14]:
def factorial(n):
    
    fact = 1
    
    for i in range(1, n+1):
        fact *= i
    
    return fact

factorial(5)

120

#### Default Argument

In [15]:
def func(name, age = 35):
    print("name : ", name)
    print("age : ", age)

In [16]:
func("Jane", 25)

name :  Jane
age :  25

In [17]:
func("Jane")

name :  Jane
age :  35

In [18]:
def func(name, age = 35, city = "Mumbai"):
    print("name : ", name)
    print("age : ", age)
    print("city : ", city)
    
func("Jane", city = "Banglore") # keyword argument

name :  Jane
age :  35
city :  Banglore

In [19]:
def var_func(*args): #multiple parameters
    
    print(args)
    
var_func(1,3,"abc")

(1, 3, 'abc')

In [20]:
func(x,y):
    z = x*y + x + y

func(2)

SyntaxError: invalid syntax (Temp/ipykernel_13608/3288638308.py, line 1)

In [23]:
def func(x=1 ,y=2):
    z = x*y + x + y
    return z

func(2,func(3))

35

In [27]:
L1 =  [2,7,8,10,3]

def func(y):
    return y**2 - 2*y - 2

ans_list = [func(x) for x in L1]
ans_list

[-2, 33, 46, 78, 1]

<h2 style = "color:Brown"> Lambda Function

In [28]:
# Write a lambda funtion to check a number is even or odd

f = lambda x: "even" if x % 2 == 0 else "odd"

f(10)

'even'

#### Ex. Write a lambda function to perform addition of two numbers

In [24]:
f = lambda x, y : x + y

f(2,5)

7

In [29]:
def say(message, times = 1):
    print(message * times)

say('Hello')
say('World', 5)

Hello
WorldWorldWorldWorldWorld

<h2 style = "color:Brown">map - filter - reduce

In [3]:
countries = ["India", "Japan", "Italy", "France"]

#### map the list to obtained the names of countries in upper case

In [4]:
list(map(lambda x : x.upper(), countries))

['INDIA', 'JAPAN', 'ITALY', 'FRANCE']

#### filter the countries names starting with "I"

In [5]:
list(filter(lambda x : x.startswith("I"), countries))

['India', 'Italy']

#### reduce the list to concatante the countries names into a single string variable seperated by " "

In [27]:
from functools import reduce

reduce(lambda x, y : x + " " + y, countries)

'India Japan Italy France'

#### Some more examples on map - filter - reduce

In [6]:
L1 = [2,4,5]
print(map(lambda x: x**2, L1))
print(list(map(lambda x: x**2, L1)))

<map object at 0x0000019DD13F6BB0>
[4, 16, 25]

#### Defining a function and using it in map

In [7]:
L1 = [2,4,5]
def squareit(n):
    return n**2

print(list(map(squareit, L1)))

[4, 16, 25]

#### Filter function to return the multiples of 3

In [8]:
my_list = [3,4,5,6,7,8,9]

divby3 = lambda x:  x % 3 == 0

div = filter(divby3, my_list)
print(list(div))

[3, 6, 9]

#### Ex. Write a python program to count the students above age 18

In [41]:
students_data = {1:['Sam', 15] , 2:['Sharma',18], 3:['Saina', 16], 4:['Saif',19], 5:['Varun',20]}

len(list(filter(lambda x : x[1] > 18, students_data.values())))

2

#### Reduce to return product of elements

In [10]:
from functools import reduce

q  = reduce(lambda x, y: x*y, range(1,6))

print(q)

120