## Python Libraries - Pandas - Grouping and Pivoting

### Grouping

Grouping and aggregation are some of the most frequently used operations in data analysis, especially while performing exploratory data analysis (EDA), where comparing summary statistics across groups of data is common.

Grouping analysis can be thought of as having three parts, namely:
-  Splitting the data into groups (e.g., groups of customer segments, product categories, etc.)
-  Applying a function to each group (e.g., the mean or total sales of each customer segment)
-  Combining the results into a data structure showing summary statistics

In [1]:
# Loading libraries and file - sales.xlsx - with Market and Region as index

import numpy as np
import pandas as pd


sales = pd.read_excel('./files/sales.xlsx')
sales.set_index(["Market","Region"], inplace=True)

In [2]:
# Checking the 'sales' dataframe 
sales

                                No_of_Orders    Profit      Sales
Market       Region
Africa       Western Africa              251 -12901.51   78476.06
             Southern Africa              85  11768.58   51319.50
             North Africa                182  21643.08   86698.89
             Eastern Africa              110   8013.04   44182.60
             Central Africa              103  15606.30   61689.99
Asia Pacific Western Asia                382 -16766.90  124312.24
             Southern Asia               469  67998.76  351806.60
             Southeastern Asia           533  20948.84  329751.38
             Oceania                     646  54734.02  408002.98
             Eastern Asia                414  72805.10  315390.77
             Central Asia                 37  -2649.76    8190.74
Europe       Western Europe              964  82091.27  656637.14
             Southern Europe             338  18911.49  215703.93
             Northern Europe             367  43237.44  252969.09
             Eastern Europe              241  25050.69  108258.93
LATAM        South America               496  12377.59  210710.49
             Central America             930  74679.54  461670.28
             Caribbean                   288  13529.59  116333.05
USCA         Western US                  490  44303.65  251991.83
             Southern US                 255  19991.83  148771.91
             Eastern US                  443  47462.04  264973.98
             Central US                  356  33697.43  170416.31
             Canada                       49   7246.62   26298.81

In [5]:
# Grouping the sales dataframe for the sum of the column 'No_of_Orders'

sales[['Sales','No_of_Orders']].groupby("Market").sum()

                   Sales  No_of_Orders
Market
Africa         322367.04           731
Asia Pacific  1537454.71          2481
Europe        1233569.09          1910
LATAM          788713.82          1714
USCA           862452.84          1593

In [6]:
#without 
sales[['Sales','No_of_Orders']].groupby("Market")

In [ ]:
# Grouping the sales dataframe over the index 'Market' for the sum of the columns 'No_of_Orders' and 'Sales'

In [ ]:
# Grouping the sales dataframe over the index 'Market' for the maximum value in the column 'No_of_Orders'

In [16]:
# Creating a dataframe 'df' with the mean of column 'Profit' for each market

In [ ]:
# Plotting a bar graph over 'df'

### Pivoting

You may want to use pandas pivot tables as an alternative to ```groupby()```. They provide Excel-like functionalities to create aggregate tables.

In [ ]:
# Read the help documentation for pivot_table
help(pd.DataFrame.pivot_table)

In [ ]:
# Importing the required libraries

In [ ]:
# Create a new dataframe
users= pd.DataFrame({"weekday" : ['Sun', 'Sun', 'Mon', 'Mon'],
                    "city": ['Austin', 'Dallas', 'Austin', 'Dallas'],
                    "visitors":[139, 237, 326, 456],
                    "signups" : [7, 12, 3, 5]})

In [ ]:
# Set the index of the dataframe as 'weekday'

In [ ]:
# plot a bar graph over the dataframe 'users'

In [ ]:
# Create a pivot table with the columns as 'city' summarising the variable 'visitors'

In [ ]:
# Check the created pivot table

In [ ]:
# Draw a bar graph over the created pivot

In [ ]:
# Create a pivot table with the columns as 'city' summarising all the variables

In [ ]:
# Check the created pivot table

In [ ]:
# Draw a bar graph over the created pivot for each variable